@page
@model Portfolio.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

@section FullWidth {
    <div class="hero-wrapper">
        <div class="side-fill left-fill"></div>
        <div class="side-fill right-fill"></div>

        <div class="hero-image">
            <img src="/images/Picture2.jpg" alt="Hero Image" />
        </div>

        <div class="center-box">
            <div class="split-box">
                <div class="split-section left"></div>
                <div class="split-section middle">
                    <div class="hero-intro-wrapper">
                        <p class="hero-tagline">First-Class Software Engineering graduate with strong foundations and a passion for coding meaningful solutions</p>
                        <h1 class="hero-name">Jacob Merritt</h1>
                        <p class="hero-roles">Full Stack Developer | Recent Graduate</p>

                        <div class="hero-buttons">
                            <a href="/projects" class="btn primary-btn">View Projects</a>
                            <a href="/devlogs" class="btn secondary-btn">Read Dev Log</a>
                        </div>
                    </div>
                </div>
                <div class="split-section right"></div>
            </div>
        </div>
    </div>

}
