.custom-footer {
    background-color: #121824;
    color: #ccc;
    font-family: inherit;
    text-align: center;
}

/* Layout for tile group */
.footer-blocks {
    display: flex;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
}

/* Individual square blocks */
.footer-tile {
    background-color: #18232d;
    color: #fff;
    padding: 1rem 5vw;
    min-width: 100px;
    border-radius: 0 0 16px 16px;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

    .footer-tile:hover {
        background-color: #c15f3d;
    }

/* Info section */
.footer-info {
    color: #8886;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.footer-copy,
.footer-location {
    margin: 0.2rem 0;
}
