@page
@model Portfolio.Web.Pages.Journey.IndexModel
@{
    ViewData["Title"] = "Journey";
}

<section class="journey-intro">
    <h1>Explore My Journey</h1>
    <p>  Every line of code has a backstory — and so do I.</p>
    <p>Whether you're here for the tech or the person behind it, take a moment to explore what shaped me — my coding journey or the personal experiences along the way.</p>

</section>
